<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="Admin">
        <system.web>
            <authorization>
                <allow roles="Admin"/>
                
                <deny users="*"/>
                <!--Deny everyone else Admin role Users-->
            </authorization>
        </system.web>
    </location>
    
</configuration>